{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {{ userprofile.get_full_name }} {% endblock %}

{% block content %}

    <!-- ======= Header ======= -->
    <header id="header">
      
      <div class="container">
        <div class="toggel">
          {% if LANGUAGE_CODE == 'fa' %} 
            <a href="{% url 'personalinfo:change-lang' %}?lang=en&next=/en/{{request.path|slice:'4:'}}" class="btn btn-primary btn-sm">en</a>
          {% elif LANGUAGE_CODE == 'en' %} 
            <a href="{% url 'personalinfo:change-lang' %}?lang=fa&next=/fa/{{request.path|slice:'4:'}}" class="btn btn-primary btn-sm">fa</a>
          {% endif %} 
        </div> 
        <h1>
            <a href="{% url 'personalinfo:home' %}">
                {% if userprofile.get_full_name %}
                  {{ userprofile.get_full_name }}
                {% else %}  
                  {{ userprofile.username }}
                {% endif %}
            </a> 
            
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2> <span>{{ userprofile.title }}</span> </h2>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link active" href="#header">{% translate 'خانه' %}</a></li>
            <li><a class="nav-link" href="#about">{% translate 'درباره' %}</a></li>
            <li><a class="nav-link" href="#resume">{% translate 'رزومه' %}</a></li>
            <li><a class="nav-link" href="#certificate">{% translate 'سرتيفيكيت' %}</a></li>
            <li><a class="nav-link" href="#services"> {% translate 'سرويس ها' %}</a></li>
            <li><a class="nav-link" href="#portfolio">{% translate 'پرتفوليو' %}</a></li>
            <li><a class="nav-link" href="#contact">{% translate 'تماس' %}</a></li>
            
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="social-links">
          <a href="https://twitter.com/{{userprofile.twitter}}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://wa.me/{{userprofile.whatsapp}}" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a href="https://t.me/{{userprofile.telegram}}" class="telegram" target="_blank"><i class="bi bi-telegram"></i></a>
          <a href="https://instagram.com/{{userprofile.instagram}}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/{{userprofile.linkedin}}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/{{userprofile.github}}" class="github" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.youtube.com/{{userprofile.youtube}}" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="https://www.skype.com/{{userprofile.skype}}" class="skype" target="_blank"><i class="bi bi-skype"></i></a>
          <a href="https://www.googlescholar.com/{{userprofile.googlescholar}}" class="google" target="_blank"><i class="bi bi-google"></i></a>
        </div>

      </div>
    </header><!-- End Header -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <!-- ======= About Me ======= -->
      <div class="about-me container">

        <div class="section-title">
          <h2>{% translate 'درباره من' %} </h2>
          
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <!-- <img src="{{ userprofile.avatar.url }}" class="img-fluid" alt="{{ userprofile.user.get_full_name }}"> -->
                      
            <div class="home__img">
              <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <mask id="mask0" mask-type="alpha">
                      <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                  </mask>
                  <g mask="url(#mask0)">
                      <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        <image class="home__blob-img" x="50" y="60" href="{{ userprofile.avatar.url }}"/>
                                         
                  </g>
              </svg>
            </div>
          
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{{ userprofile.title }}</h3>
            <p class="fst-italic">
              {{ userprofile.bio|linebreaks }}
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% translate 'تاريخ تولد' %}: </strong>
                    {% if LANGUAGE_CODE == 'fa' %} 
                      <span>
                        {{ userprofile.jbirthday }} 
                      </span>
                    {% elif LANGUAGE_CODE == 'en' %}    
                      <span>
                        {{ userprofile.Mbirthday }} 
                      </span>
                    {% endif %}  
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% translate 'ايميل' %}: </strong> <span> {{ userprofile.email }} </span></li>

                  <li><i class="bi bi-chevron-right"></i> <strong>{% translate 'آدرس' %}: </strong> <span> {{ userprofile.city }} , {{ userprofile.country }} </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong> {% translate 'فريلنسري' %}: </strong> 
                    <span> 
                      {% if userprofile.freelancer %}
                        <i class="bi bi-circle-fill" style="color: #3e6ff4; "></i>
                      {% else %}
                        <i class="bi bi-circle-fill" style="color: rgba(62, 168, 244, 0.4); "></i>
                      {% endif %}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% translate 'رشته تحصيلي' %}: </strong> <span> {{ userprofile.course }} </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% translate 'تحصيلات' %}: </strong>
                    {% if LANGUAGE_CODE == 'fa' %}
                      {% if userprofile.last_degree == 1 %}
                        <span>زير ديپلم </span>
                      {% elif userprofile.last_degree == 2 %}
                        <span> ديپلم </span>
                      {% elif userprofile.last_degree == 3 %} 
                        <span> كارشناسي </span>
                      {% elif userprofile.last_degree == 4 %} 
                        <span>كارشناسي ارشد  </span>
                      {% elif userprofile.last_degree == 5 %}
                        <span> دكترا </span>
                      {% else %} 
                        <span> فوق دكترا </span>
                      {% endif %}  
                      
                    {% endif %}
                      
                    {% if LANGUAGE_CODE == 'en' %}
                      {% if userprofile.last_degree == 1 %}
                        <span>High School </span>
                      {% elif userprofile.last_degree == 2 %}
                        <span> Diploma </span>
                      {% elif userprofile.last_degree == 3 %} 
                        <span> BA/BSc </span>
                      {% elif userprofile.last_degree == 4 %} 
                        <span> MA/MSc </span>
                      {% elif userprofile.last_degree == 5 %}
                        <span> PhD </span>
                      {% else %} 
                        <span> Post Doctoral </span>
                      {% endif %}  
                      
                    {% endif %}
                      
                  </li>

                  
                  <li><a download href="{{ userprofile.cv.url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary mx-3"> {% translate 'دانلود رزومه' %} </a></li>
                </ul>
              </div>
            </div>
            <p>
              {{ userprofile.compeltebio|linebreaks }}
            </p>
          </div>
        </div>

      </div><!-- End About Me -->

      <!-- ======= Counts ======= -->
      <div class="counts container mt-5">

        <div class="row">
        
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ count_projects }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>{% translate 'پروژه ها' %} </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-book"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ count_publications }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>{% translate 'مقالات' %} </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ count_certificates }}" data-purecounter-duration="1" class="purecounter"></span>
              <p> {% translate 'سرتيفيكيت ها' %} </p>
            </div>
          </div>

        </div>

      </div><!-- End Counts -->

      <!-- ======= Skills  ======= -->
      <div class="skills container mt-5">

        <div class="section-title">
          <h2> {% translate 'مهارت هاي من' %} </h2>
        </div>

        <div class="row skills-content">

          {% for skill in skills %}
            <div class="col-lg-6">

              <div class="progress">
                <span class="skill"> <i class="val px-2">{{ skill.score }}%</i> {{ skill.name }}</span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>
          {% endfor %}  
        </div>

      </div><!-- End Skills -->

      <!-- ======= Interests ======= -->
      <div class="interests container mt-5">

        <div class="section-title">
          <h2>{% translate 'علاقه مندي هاي من' %} </h2>
        </div>

        <div class="row">
          {% for intereste in interestes %}  
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-file-list-3-line" ></i>
                <h3>{{ intereste.title }}</h3>
              </div>
            </div>
          {% endfor %}  
        </div>

      </div><!-- End Interests -->

      <!-- ======= Testimonials ======= -->
      <div class="testimonials container mt-5">

        <div class="section-title">
          <h2>{% translate 'مراجع' %} </h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for testimonial in testimonials %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      {{ testimonial.describtion }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                                
                  <img src="{% static 'img/default.png' %}" class="testimonial-img" alt="{{ testimonial.name }}">
                  <h3> {{ testimonial.name }} </h3>
                  <h4> {{ testimonial.role }} </h4>
      
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <ul class="testimonials-info">
                        <li><i class="bi bi-chevron-right"></i> <strong> {% translate 'ايميل' %}  : </strong> <span> {{ testimonial.email }}</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong> {% translate 'وب سايت' %} : </strong> <span> {{ testimonial.web_site }}  </span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>{% translate 'تلفن' %}  : </strong> <span>{{ testimonial.phone }}  </span></li>
                      </ul>
                    </div>
                  
                  </div>
                
                </div>
              </div><!-- End testimonial item -->
            {% endfor %}  

          

          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="owl-carousel testimonials-carousel">

        </div>

      </div><!-- End Testimonials  -->

    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>{% translate 'رزومه من' %} </h2>
          
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">{% translate 'چكيده' %} </h3>
            <div class="resume-item pb-0">
              <h4>{{ userprofile.get_full_name }}</h4>
              <p><em>{{ userprofile.title }}</em></p>
              <p>
              <ul>
                <li>{{ userprofile.city }},{{ userprofile.country }}</li>
            
                <li>{{ userprofile.email }}</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">{% translate 'تحصيلات' %} </h3>
            {% if LANGUAGE_CODE == 'fa' %}
                {% for academic in academics %}
                  <div class="resume-item">
                    <h4>
                      {% if academic.degree == 1 %}
                        <span>زير ديپلم </span>
                      {% elif academic.degree == 2 %}
                        <span> ديپلم </span>
                      {% elif academic.degree == 3 %} 
                        <span> كارشناسي </span>
                      {% elif academic.degree == 4 %} 
                        <span>كارشناسي ارشد  </span>
                      {% elif academic.degree == 5 %}
                        <span> دكترا </span>
                      {% else %} 
                        <span> فوق دكترا </span>
                      {% endif %} 
                        <span>{{ academic.course }}</span> 
                    </h4>
                    <h5>{{ academic.jstart }} - {{ academic.jend }}</h5>
                    <p><em>{% translate ' دانشگاه' %}  {{ academic.university }}, {{ academic.city_university }} , {{ academic.country_university }}</em></p>
                    <p>{% translate 'معدل ' %}  : <strong class="badge-primary">{{ academic.gpa }}</strong> </p>
                    <p>{{ academic.describtion|linebreaks }}</p>
                  </div>
                {% endfor %}
            {% endif %}
              
            {% if LANGUAGE_CODE == 'en' %}
                {% for academic in academics %}
                  <div class="resume-item">
                    <h4>
                      {% if academic.degree == 1 %}
                        <span>High School </span>
                      {% elif academic.degree == 2 %}
                        <span> Diploma </span>
                      {% elif academic.degree == 3 %} 
                        <span> BA/BSc </span>
                      {% elif academic.degree == 4 %} 
                        <span> MA/MSc </span>
                      {% elif academic.degree == 5 %}
                        <span> PhD </span>
                      {% else %} 
                        <span> Post Doctoral </span>
                      {% endif %} 
                        <span>{{ academic.course }}</span> 
                    </h4>
                    <h5>{{ academic.Mstart }} - {{ academic.Mend }}</h5>
                    <p><em>{% translate ' دانشگاه' %}  {{ academic.university }}, {{ academic.city_university }} , {{ academic.country_university }}</em></p>
                    <p>{% translate 'معدل ' %}  : <strong class="badge-primary">{{ academic.gpa }}</strong> </p>
                    <p>{{ academic.describtion|linebreaks }}</p>
                  </div>
                {% endfor %}
            {% endif %}
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">{% translate 'تجارب كاري' %}  </h3>
            
            {% for job in jobs %}
              <div class="resume-item">
                <h4>{{ job.job_title}}</h4>
                {% if LANGUAGE_CODE == 'en' %}
                  <h5>{{ job.Mstart }} - {{ job.Mend }}</h5>
                {% elif LANGUAGE_CODE == 'fa' %}  
                  <h5>{{ job.jstart }} - {{ job.jend }}</h5>
                {% endif %}  
                <p><em>{{ job.company }}, {{ job.city_company }} , {{ job.country_company }}</em></p>
                <p class="px-3">
                  {{ job.describtion|linebreaks }}
                </p>
              </div>
            {% endfor %}  
          </div>
        </div>

        <div class="section-title">
          <h2> {% translate 'مقالات من' %}  </h2>
          
        </div>
    
        {% for publication in publications %}
          <div class="resume-item">
            <h6 class="publication-title"><a href="{{ publication.link}}" target="_blank" rel="noopener noreferrer">{{ publication.title}}</a></h6>
            {% if LANGUAGE_CODE == 'en' %}
              <h5>{{ publication.Mdate }}</h5>
            {% elif LANGUAGE_CODE == 'fa' %}  
              <h5>{{ publication.jdate }}</h5>
            {% endif %}  
            
            <p><em>{{ publication.status }}</em></p>
          </div>
        {% endfor %}

      
      </div>
    </section><!-- End Resume Section -->

  <!-- ======= certificate Section ======= -->
    <section id="certificate" class="certificate">
      <div class="container">

        
        <div class="section-title">
          <h2> {% translate 'سرتيفيكيت هاي من ' %}  </h2>
          
        </div>
        
          <div class="row certificate-container">
            {% for academic in academics %}
              <div class="col-lg-4 col-md-6 certificate-item filter-app">
                <div class="certificate-wrap">
                  <img src="{{ academic.thumbnail.url }}" class="img-fluid academic-img" alt="">
                  <div class="certificate-info">
                      {% if LANGUAGE_CODE == 'fa' %}
                          <h4>
                            {% if academic.degree == 1 %}
                              <span>زير ديپلم </span>
                            {% elif academic.degree == 2 %}
                              <span> ديپلم </span>
                            {% elif academic.degree == 3 %} 
                              <span> كارشناسي </span>
                            {% elif academic.degree == 4 %} 
                              <span>كارشناسي ارشد  </span>
                            {% elif academic.degree == 5 %}
                              <span> دكترا </span>
                            {% else %} 
                              <span> فوق دكترا </span>
                            {% endif %} 
                              <span>{{ academic.course }}</span> 
                          </h4>
                          
                      {% endif %}
                    
                      {% if LANGUAGE_CODE == 'en' %}
                          <h4>
                            {% if academic.degree == 1 %}
                              <span>High School </span>
                            {% elif academic.degree == 2 %}
                              <span> Diploma </span>
                            {% elif academic.degree == 3 %} 
                              <span> BA/BSc </span>
                            {% elif academic.degree == 4 %} 
                              <span> MA/MSc </span>
                            {% elif academic.degree == 5 %}
                              <span> PhD </span>
                            {% else %} 
                              <span> Post Doctoral </span>
                            {% endif %} 
                              <span>{{ academic.course }}</span> 
                          </h4>
                      {% endif %}
                    <div class="certificate-links">
                      <a href="{{ academic.thumbnail.url }}" data-gallery="certificateGallery" class="certificate-lightbox" title=""><i class="bx bx-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %} 
            {% for certificate in certificates %}
              <div class="col-lg-4 col-md-6 certificate-item filter-app">
                <div class="certificate-wrap">
                  <img src="{{ certificate.thumbnail.url }}" class="img-fluid" alt="{{ certificate.name }}">
                  <div class="certificate-info">
                    <h4>{{ certificate.name }}</h4>
                    <div class="certificate-links">
                      <a href="{% url 'personalinfo:certificate-detail' certificate.pk %}" target="_blank"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}      
          </div>  

        </div>
    </section><!-- End certificate Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2> {% translate 'سرويس هاي من' %} </h2>
          
        </div>

        <div class="row">
          {% for service in services %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">{{service.title}}</a></h4>
                <p>{{service.describtion|truncatewords:20}}</p>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>{% translate 'پرتفوليوي من ' %} </h2>
          
        </div>
        
        <div class="row portfolio-container">
          {% for project in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item " >
              <div class="portfolio-wrap">
                <video src="{{ project.file_project.url }}" width="284px" height="203px" controls muted poster="{{ project.cover.url }}"></video>
                <div class="portfolio-info">
                  <h4>{{ project.title }}</h4>
                  <div class="portfolio-links">
                    <a href="{% url 'personalinfo:portfolio-detail' project.pk %}" target="_blank" ><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>{% translate 'تماس با من ' %} </h2>
          
        </div>
    
        <div class="row mt-2">

          <div class="col-md-6 mb-4 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3> {% translate 'آدرس ' %} </h3>
              <p>{{ userprofile.city }} , {{ userprofile.country }}</p>
            </div>
          </div>

          <div class="col-md-6 mb-4 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>{% translate 'ايميل' %} </h3>
              <p>{{ userprofile.email }}</p>
            </div>
          </div>
          
          <div class="col-md-12  mt-md-0 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-share-alt"></i>
              <h3> {% translate 'شبكه هاي اجتماعي' %}  </h3>
              <div class="social-links mt-2">
                <a href="https://twitter.com/{{userprofile.twitter}}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://wa.me/{{userprofile.whatsapp}}" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://t.me/{{userprofile.telegram}}" class="telegram" target="_blank"><i class="bi bi-telegram"></i></a>
                <a href="https://instagram.com/{{userprofile.instagram}}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/{{userprofile.linkedin}}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/{{userprofile.github}}" class="github" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.youtube.com/{{userprofile.youtube}}" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
                <a href="https://www.skype.com/{{userprofile.skype}}" class="skype" target="_blank"><i class="bi bi-skype"></i></a>
                <a href="https://www.googlescholar.com/{{userprofile.googlescholar}}" class="google" target="_blank"><i class="bi bi-google"></i></a>
              </div>
            </div>
          </div>
        </div> 
        
          <form method="POST" class="php-email-form mt-4" action="." onsubmit="return checkform();">
            
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group" >
                  {{ form.name }}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  {{ form.email }}
                
                </div>
              </div>
              <div class="form-group mt-3">
                {{ form.title }}
              </div>
              <div class="form-group mt-3">
                {{ form.message }}
              </div>

            
              <div class="text-center mt-3"><button type="submit">{% translate 'ارسال پيام ' %}  </button></div>
          </form> 
      
      </div>
    </section><!-- End Contact Section -->

{% endblock %}